/*adding scrolling effect to the layers*/

div.scroll {
    width: max-content;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    direction: rtl;
}

.option {
    float: right;
    display: block;
    text-align: right;
    margin-top: 20px;
}

.optimize-button {
    display: inline-block;
    margin-right: 10px;
    height: 40px;
    width: 120px;
    border-radius: 15px;
    background-color: #00D9FF;
    color: #000;
    font-family: Calibri;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    border: none;
}

.train-button {
    height: 40px;
    width: 120px;
    border-radius: 15px;
    background-color: #21DB9E;
    color: #000;
    font-family: Calibri;
    font-size: 22px;
    line-height: 28px;
    border: none;
}


/* Styling of the */

.conv-layer,
.first-layer {
    position: relative;
    height: 30px;
    width: max-content;
    padding: 7px;
    margin-left: 7px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #757575;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}


/* MaxPool UI design*/

.maxPool-layer {
    height: 30px;
    width: max-content;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #8A3030;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}


/* Flatten UI design*/

.flatten-layer {
    height: 30px;
    width: max-content;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #303C8A;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}


/* Dense UI design */

.dense-layer {
    height: 30px;
    width: max-content;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #361D7D;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}


/* BatchNormalizatoin UI design */

.batchNorm-layer {
    height: 30px;
    width: max-content;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #361D7D;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}


/* Dropout UI design */

.dropout-layer {
    height: 30px;
    width: max-content;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #361D7D;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}

.text-box {
    color: #000;
    font-family: Calibri;
    font-size: 23px;
    text-align: center;
}

.layer-name {
    float: left;
    height: 20px;
    width: 130px;
    border-radius: 20px;
    padding: 5px;
    background-color: #FFF;
    display: block;
    margin-right: 5px;
}

.layer-property-1 {
    float: left;
    height: 20px;
    width: 74px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #FFF;
    display: block;
}

.layer-property-2 {
    float: left;
    display: block;
    padding: 5px;
    margin-right: 5px;
    height: 20px;
    width: 74px;
    border-radius: 20px;
    background-color: #FFF;
}

.layer-property-3 {
    float: left;
    display: block;
    margin-right: 5px;
    height: 20px;
    width: 118px;
    border-radius: 20px;
    background-color: #FFF;
}

.layer-property-4 {
    float: left;
    display: block;
    height: 20px;
    padding: 5px;
    width: 143px;
    border-radius: 20px;
    background-color: #FFF;
}